<h1>Editing Study Group Event Attendance</h1>

<%= render 'form', study_group_event_attendance: @study_group_event_attendance %>

<%= link_to 'Show', @study_group_event_attendance %> |
<%= link_to 'Back', study_group_event_attendances_path %>
