<h1>Learning Resources</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learning_resources.each do |learning_resource| %>
      <tr>
        <td><%= learning_resource.url %></td>
        <td><%= learning_resource.description %></td>
        <td><%= link_to 'Sign up for next meeting', sign_up_for_next_meeting_learning_resource_path(learning_resource), method: 'POST', class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning Resource', new_learning_resource_path %>
