<p id="notice"><%= notice %></p>

<p>
  <%= link_to @learning_resource.description, @learning_resource.url, target: '_blank' %>
</p>

<h2>
	Users waiting (count: 0)
</h2>

<%= button_to "Enroll" %>

<%= link_to 'Back', learning_resources_path %>
