<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @study_group_event.date %>
</p>

<%= link_to 'Edit', edit_study_group_event_path(@study_group_event) %> |
<%= link_to 'Back', study_group_events_path %>
